.Header-holder{
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    top: 0px;
    z-index: 100;
    background: white;
    position: sticky;
    background: white;
    .ico-holder{
        width:200px;
        height:80px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    /* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

*
{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}
#collapsibleNavbar{
    float: right;
    position: relative;
    right: 0;
}
.navbar-toggler{
    float: right;
    width: 85px;
    height: 85px;
    img{
        width: 100%;
        height: 100%;
    }
}
@media screen AND (max-width:700px){
  

    .navbar-toggler{
        display: block;
    }
    
}
*:focus
{
    outline: none;
}
.input-search{
    margin: 22px 5px 0 15px;
    overflow: hidden;
    input{
        overflow: hidden;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }
}
#google_translate_element , .input-search{
    float: left;
    height: 63px;
    position: relative;
    width: 165px;
    span{
        display: none;
    }
}
.skiptranslate.goog-te-gadget{
    height: 63px;
    position: absolute;
    top: 22px;
    left: 0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f9f9;
}

#app-cover
{
    float: left;
}


.toggle-button-cover
{
    position: relative;
    width: 63px;
    height: 43px;

}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    overflow: hidden;
}
 .button.r .layer
{
    border-radius: 100px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
#button-3 .knobs:before
{
    content: 'Off';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before
{
    content: 'On';
    left: 42px;
    background-color: #F44336;
}

#button-3 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

}