
    .card{
        border: 1px solid #eee;
        padding: 10px;
        margin: 10px;
        text-align: center;
        position: relative;
        padding-bottom: 100px;
        transition: all 1s ease;
        margin-top: 100px;
        &:hover{
            transform: scale(1.04);
            transition: all 1s ease;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }
        .card-content{
            .image-card-holder{
                position: absolute;
                top: -18%;
                left: calc(50% - 62px);
                border: 1px solid;
                border-radius: 50%;
                padding: 18px;
                background: floralwhite;
                &:hover{
                    img{
                        transform: rotateY(180deg);
                        transition: all 2s ease;
                    }
                }
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            h2{
                margin-top: 100px;
            }
        }
    }
