
.white-back-black-text#root{
    overflow: hidden;
    font-family: sans-serif;
    line-height: 2;
    // img{
    //     transition: all 1s ease;
    //     &:hover{
    //         transform: scale(1.05);
    //         transition: all 1s ease;
    //     }
    // }
    .text-hover-zoom{
        transition:  all 2s ease;
        &:hover{
            transform: scale(1.3) !important;
            transition: all 2s ease;
        }
    }
    a.text-hover-zoom{
            transition:  all 2s ease;
            &:hover{
                transform: scale(1.3) !important;
                transition: all 2s ease;
            }
    }
    .text-center{
        text-align: center;
    }
    .header_top_area{
        background: #ddd;
        text-align: center;
        .pull-left{
            display: grid;
            justify-content: normal;
            grid-template-columns: auto auto auto;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .text-shadow{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
        
    };
    .text-justify {
        text-align: justify;
    }
    @keyframes lineInserted1 {
        0% {
          max-height: 0;
        }
        100%{
            max-height: 100px;
        }
    }
    @keyframes lineInserted2 {
        0% {
        max-width: 0;
        // margin-left: 0;
        }
        100%{
            max-width: 100%;
        // margin:auto;
        // margin-left: auto;
        }
    }
    @keyframes rightToLeft {
        0%{
            margin-right: -300px;
        }
        100%{
            margin-right: 0;
        }
        
    }
    @import 'variables';
    @import 'Header/index.scss';
    @import 'BodyContent/index.scss';
    @import 'HomeComponent/index.scss';
    @import 'controlArea/index.scss';
    @import 'Card/index.scss';
    @import  'HeaderLink/index.scss';
    @import 'HeaderLinks/index.scss';
    @import 'footerTop/index.scss';
    @import  'footerBottom/index.scss';
    @import 'footerMiddle/index.scss';
    background: $app_bc_color;
    transition:  all 1s ease;
    .app-content{
        width:$app_width;
        margin: auto;
        .swiper-container{
            img{
                width: 100%;
                height: 300px;
                margin-top: 10px;
                object-fit: fill;
            }
        }
        

    }
    .more{
        padding: 10px;
        position: absolute;
        color: #474545;
        background: white;
        border: 1px solid #474545;
        text-decoration: none;
        bottom: 0;
        margin: auto;
        text-align: center;
        width: 111px;
        left: 0;
        right: 0;
        margin-bottom: 20px;
        &:hover{
            background: #444444;
            color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }
    }
    .ash{
        color: #444444;
    }
    .desc {
        img{
            width: 200px;
            float: right;
        }
    }
    .oo{
        color: $app_text_color;
    }
}
.inline-block{
    display: inline-block;
}
.float-right{
    float: right;
}
.c-pointer{
    cursor: pointer;
}