.Header-links-holder{
    float: right;
    a{  
        text-decoration: none;
        padding: 26px;
        display: inline-block;
        color: grey;
        
        &:hover{
            color: green;
        }
    }
    ul{
        display: none;
    }
    .location-drop-holder{
        position: relative;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        &:hover{
            color: green;
            ul{
                display: block;
            }
        }
    }
    .services-drop-holder{
        cursor: pointer;
        position: relative;
        display: inline-block;
        padding: 10px;
        &:hover{
            color: green;
            ul{

                display: block;
            }
        }
        ul{
            background: white;
            a{
                padding: 10px;
            }
        }
    }
    img.downarrooow {
        width: 19px;
        top: 4px;
        position: relative;
    }
    ul{
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid #c1c1c1;
        padding: 0;
        margin: 0;
        width: 220px;
        top: 45px;
        max-height: 60vh;
        overflow: auto;
        overflow-x: hidden;
        a{
            display: block;
            border-bottom: 1px solid;
            &:last-child{
                border: none;

            }
            &:hover{
                background: #ccc;
                color: white;
            }
            li{
                list-style: none;
                display: block;
                padding: 0;
                margin: 0;
            }
        }
    }
}